@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(199, 199, 199);
    margin: 0;
}

.header {
    width: 100%;
    padding-top: 30px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header.fixed {
    padding: 10px 0;

    background-color: #444444;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    transform: translate3d(0, 0, 0);
}
.header.active {
    background-color: rgb(70, 55, 55);
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    
    color: #e0e0e0;
    text-decoration: none;
    
    transition: color .1s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    
    background-color:#adadad;
    opacity: 0;
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #e9e9e9;
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

.nav_link.active {
    color: #d3d3d3;
}

.nav-toggle {
    width: 30px;
    padding: 10px 0;
    display: none;
    
    font-size: 0;
    color: transparent;
    
    border: 0;
    background: none;
    cursor: pointer;
    
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav-toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    
    background-color:#949494;
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    transition: background .2s linear;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle_item:before,
.nav-toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    
    background-color: #444444;
    
    position: absolute;
    left: 0;
    z-index: 1;
    
    transition: transform .2s linear;
}

.nav-toggle_item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

.nav-toggle.active .nav-toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(0px, -2px, 0);
}

.nav-toggle.active .nav-toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(0px, 3px, 0);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
    background: url("avtozapchasti-dlya-inomarok2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    
    text-align: center;
}

.intro_title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    
    background-color: #fff;
}

.intro_suptitle {
    margin-bottom: 20px;
    font-size: 72px;
    color: #fff;
    text-align: center;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    
    text-align: center;
}

.section_suptitle {
    font-size: 24px;
    color: #333;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    
    background-color: #000000;
}

.section_text {
    font-size: 15px;
    color: #999;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.p1
{
  text-align: center;
}

img:hover {
    box-shadow:
      1px 1px #366286,
      2px 2px #366286,
      3px 3px #366286,
      4px 4px #366286,
      5px 5px #366286,
      6px 6px #366286,
      7px 7px #366286;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

img
{
  width: 264px;
  height: 250px;
  left: 32px;
  top: 1739px; 
  box-shadow: 18px 18px 50px rgba(0, 0, 0, 0.25);
}

.slideshow-container 
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition:0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
footer{
    text-align:center;
    padding-top:100px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

img.displayed{
    display:block;
    margin-left:auto;
    margin-right: auto;
}
